html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
a { text-decoration: none; }
a:hover { text-decoration: none; }
a{
    text-decoration:none;
    color:#333;
    background-color: #b4a89c;
    padding: 10px 20px;
    border-radius: 1px;
}
button, input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1{
    font-weight: lighter;
}
input[type=number]{
    line-height: 35px;
    font-size: 15px;
    width: 110px;
}
input[type=text], input[type=password], input[type=email], input[type=tel]{
    background-color: #f4f8fa;
    border:1px solid #33332d;
    line-height: 28px;
    font-size: 15px;
    width: 250px;
}
#login_content{
    display: flex;
    color: #33332d;
    justify-content: space-evenly;
    font-family: 'Noto Serif TC', serif;
    vertical-align: middle;
    text-align: center;
    width: 870px;
}
#signup_content{
    display: flex;
    color: #33332d;
    justify-content: space-evenly;
    font-family: 'Noto Serif TC', serif;
    vertical-align: middle;
    text-align: center;
}
#cart_content{
    width: 870px;
    display: flex;
    color: #33332d;
    text-align: center;
    flex-direction: column;
    font-family: 'Noto Serif TC', serif;
    vertical-align: middle;
}
#login_block{
    text-align: center;
    display: flex;
}
#signup_block{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
tr{
    height: 30px;
    text-align: left;
}
th{
    font-weight: lighter;
}
.table_inline_bigger{
    border-collapse:separate;
    border-spacing: 25px;
}
.cart_edit{
    width: 550px;
}
.cart_list{
    width: 320px;
    background-color: #f4f8fa;
    text-align: left;
    padding:10px
}
.flex_row{
    display: flex;
    flex-direction: row;
}
.flex_col{
    display: flex;
    flex-direction: column;
}
.cart_img{
    width: 120px;
}
.cart_img_form{
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}
.center{
    text-align: center;
    vertical-align: middle;
    align-items: center
}
.sign_img{
    width: 13px;
    margin: 5px;
}
.amount_lab{
    background-color: #f4f8fa;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width: fit-content;
    padding: 3px;
    border: #33332d solid 1px;
    margin: 15px;
}
.btn{
    background-color: #b4a89c;
    max-height: 37px;
    padding: 10px;
    border-radius: 2px;
    width: 70px;
    margin: 10px;
    margin-top: 18px;
}
.price_pos{
    position: relative;
    left: 100px;
}
.product_pos{
    position: relative;
    right: 29px;
}